<footer class="footerPadding">
    <div class="container containerHome">
        <div class="row">
            <div class="col-6 col-md">
                <a href="/">Home</a>
            </div>
            <div class="col-md rm"><p>|</p></div>
            <div class="col-6 col-md">
                <a href="/docs">Docs</a>
            </div><div class="col-md rm"><p>|</p></div>
            <div class="col-6 col-md">
                <a href="/profile">Profile</a>
            </div>
        </div>
    </div>
</footer>